.page {
  background-color: #222222;
  color: rgb(228, 228, 228);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 100px;
}

.main {
  margin: auto;
  padding: 100px 100px 1px;
  box-sizing: border-box;
  max-width: 1140px;
  box-shadow: 20px 0 20px #171717, -20px 0 20px #171717;
}

.about {
  display: flex;
  margin-bottom: 100px;
}

.about__photo {
  width: 300px;
  height: 408px;
  margin-right: 90px;
}

.about__name {
  margin: 15px 0 0;
  font-size: 34px;
}

.about__profession {
  margin: 25px 0 0;
  font-size: 28px;
}

.about__text {
  margin: 25px 0 0;
  font-size: 21px;
  line-height: 1.4;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}

.section__title {
  margin: 30px 0;
  font-size: 30px;
}

.section__text {
  margin: 35px 0;
  max-width: 700px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.section__video {
  margin: auto;
  width: 850px;
  height: 450px;
}

.photo {
  margin: 100px 0;
}

.photo__title {
  margin: 0;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.photo__grid {
  margin: 70px auto 0;
  display: grid;
  gap: 50px;
  grid-template-columns: 445px 445px;
  grid-template-rows: 800px 600px 300px 600px;
}

.photo__photo {
  max-width: 450px;
}

.photo__bigDrum {
  background-image: url(./images/bigDrum.jpg);
  background-size: cover;
}

.photo__snareDrum {
  background-image: url(./images/snareDrum.jpg);
  background-size: cover;
}

.photo__sticks {
  background-image: url(./images/sticks.jpg);
  background-size: cover;
}

.photo__march {
  background-image: url(./images/march.jpg);
  background-size: cover;
}

.photo__division {
  background-image: url(./images/division.jpg);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
}

.photo__stage {
  background-image: url(./images/stage.jpg);
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.footer__link {
  color: rgb(228, 228, 228);
  text-decoration: none;
  line-height: 2;
  font-size: 23px;
  transition: 0.3s;
}

.footer__link:hover {
  color: #868686;
}

@media screen and (max-width: 1179px) {
  .about__photo {
    width: 250px;
    height: 340px;
  }

  .about__name {
    font-size: 28px;
  }

  .about__profession {
    font-size: 20px;
  }
  
  .about__text {
    font-size: 17px;
  }

  .section {
    padding: 20px;
  }

  .section__title {
    font-size: 25px;
  }

  .section__video {
    width: 600px;
    height: 317px;
  }

  .section__text {
    max-width: 500px;
    font-size: 17px;
  }

  .photo {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo__title {
    font-size: 30px;
  }

  .photo__grid {
    grid-template-columns: 302px 302px;
    grid-template-rows: 600px 400px 200px 400px;
    gap: 15px;
  }

  .footer__link {
    font-size: 17px;
  }
}

@media screen and (max-width: 799px) {
  .header {
    height: 40px;
  }

  .main {
    max-width: 320px;
    padding: 30px 5px 1px;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about__photo {
    margin: 0;
  }

  .about__description {
    padding: 15px;
  }

  .about__name {
    margin-top: 50px;
  }

  .section {
    padding: 0;
  }

  .section__title {
    text-align: center;
  }

  .section__video {
    width: 300px;
    height: 210px;
  }

  .section__text {
    padding: 0 20px;
  }

  .photo__grid {
    grid-template-columns: 302px;
    grid-template-rows: 530px 530px 240px 240px 240px 240px;
    gap: 20px;
  }

  .photo__division {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .photo__stage {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}